@import "src/assets/variables";

.toggle-arrows {
  margin: -3.5rem auto 1rem;
  background-color: white;
  border: 2px solid #0075eb;
  border-radius: 50%;
  padding: 1rem;
  width: 24px;
  cursor: pointer;
}
