$text-primary-color: #333;
$text-secondary-color: #757575;
$highlight-color: #eb008d;
$disabled-color: #d6d6d6;
$background-color: #f5f5f5;
$border-color: #e2e8ee;

$small-spacing: 1.5rem;

$large-font-size: 2rem;

$min-width-small: 561px;
