@import "src/assets/variables";
@import "src/assets/utilities";

.input-amount-field {
  background: transparent;
  border: none;
  font-size: $large-font-size;
  -moz-appearance: textfield;
  padding: 0;
  width: 80%;
  text-align: right;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    @include no-focus;
  }
}
